# Flutter/Dart tooling
.dart_tool/
build/

# IDE/editor files
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Logs and temp files
*.log
*.tmp
*.swp

# Flutter internal metadata
.metadata

# Platform folders not used
linux/
macos/
windows/
